body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #blue, #purple);
    font-family: Arial, sans-serif;
    color:black;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.cell:hover {
    background-color: #ccc;
}

.hidden {
    display: none;
}

#message p {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #black;
    border: none;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: #grey;
}
